@font-face {
  font-family: "outfit-regular";
  src: url(/assets/fonts/outfit/static/Outfit-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Young Serif";
  src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 54%, 90%);
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: hsl(0, 0%, 100%);
  margin: 2rem;
  max-width: 800px;
  border-radius: 1rem;
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
}

.recipe-introduction > h1 {
  font-family: "Young Serif", sans-serif;
}

.recipe-introduction > p {
  color: hsl(30, 10%, 34%);
  font-family: "outfit-regular", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 1em;
}

/* h1 {
  font-family: "Young Serif", sans-serif;
} */
